# $ pip install -r requirements.txt
# Note: You don't have to install everything just for doing development!

Django >= 1.8 , < 1.9
Pillow
mysql

# apps.news
git+https://github.com/normalnorway/newsgrab.git#egg=newsgrab

# socialmedia
#oauth2client
#oauthlib
#requests-oauthlib
