<!DOCTYPE html>
{% load cms %}
<html lang="nb">  {# Or use nb-NO? #}
  <head>
    <meta charset="utf-8" />
    <title>{%block title%}Normal{%endblock title%}{%block extratitle%}{%endblock%}</title>

    <meta property="fb:app_id" content="452143391620790" />

    <link rel="alternate" type="application/rss+xml"
          title="Siste nyheter" href="/nyheter/rss/" />

    {% if not debug %}
    {# @todo {% load static from staticfiles %} #}
    <link rel="stylesheet" href="{{STATIC_URL}}css/all.css" />
    {% endif %}

    {% if debug %}
    <style>
      html { border-right: 6px solid maroon; border-left: 6px solid maroon; }
    </style>
    <link rel="stylesheet/less" href="{{STATIC_URL}}css/base.less" />
    <link rel="stylesheet/less" href="{{STATIC_URL}}css/style.less" />
    <link rel="stylesheet/less" href="{{STATIC_URL}}css/classes.less" />
    <link rel="stylesheet/less" href="{{STATIC_URL}}css/sections.less" />
    <link rel="stylesheet/less" href="{{STATIC_URL}}css/menu.less" />
    <script src="{{STATIC_URL}}js/less.js"></script>
    {% endif %}

    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Normal – Norsk organisasjon for reform av marihuanalovgivningen" />
    <meta property="og:description" content="Normal arbeider for en hensiktsmessig regulering av cannabis i Norge" />
    {# @todo override title per subpage #}
    <meta property="og:title" content="Normal Norway" />
    <meta property="og:image" content="http://normal.no/static/images/logo-300.png" />
    {# Needed? Have lang attr on html element #}
    <meta property="og:locale" content="nb_NO" />

    {% block extrahead %}{% endblock %}
    {% block extrastyle %}{% endblock %}
  </head>

  <body>
    <div id="wrapper" itemscope itemtype="http://schema.org/NGO">

      <div id="inner">

      {% if config.debug %}
      <div style="background-color:red; font-weight: bold; text-align: center;">dev.normal.no</div>
      {% endif %}

      <header>
        <div id="menu">{% include "menu.html" %}</div>
        {% block header %}
        {# not in use #}
        {% endblock %}
      </header>

      {# MAIN CONTENT #}
      <div id="content">

        {% block top %}
        {% endblock %}

        {% if messages %}
        <ul id="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}

        <div id="article">
          {% block content %}
          {% endblock %}
        </div>
      </div>

      <footer>{% include "footer.html" %}</footer>

      <!--
      {% if debug %}
      <pre class="debug">{% for q in sql_queries %}{{q.time}}s : {{q.sql}}<br>{% endfor %}</pre>
      {% endif %}
      -->

      </div> {# inner #}

      <div id="sidebar">
        <header>
          <div class="follow-widget">
            <a href="https://www.facebook.com/NormalNorway" title="Facebook">
              <img src="{{STATIC_URL}}/images/widgets/facebook.png" width="16" height="16" alt="Facebook" />
            </a>
            <a href="https://twitter.com/NormalNorway" title="Twitter">
              <img src="{{STATIC_URL}}/images/widgets/twitter.png" width="16" height="16" alt="Twitter" />
            </a>
            <a href="https://plus.google.com/NORMALNorge" title="Google+">
              <img src="{{STATIC_URL}}/images/widgets/google_plus.png" width="16" height="16" alt="Google+" />
            </a>
            <a href="https://www.youtube.com/user/normalnorway" title="YouTube">
              <img src="{{STATIC_URL}}/images/widgets/youtube.png" width="16" height="16" alt="YouTube" />
            </a>
            <a href="//nyheter/rss/" title="RSS Feed">
              <img src="{{STATIC_URL}}/images/widgets/feed.png" width="16" height="16" alt="RSS Feed (nyheter)" />
            </a>
          </div>
        </header>
        <div class="content">{% cms_content "sidebar" %}</div>
      </div>

    </div>  {# wrapper #}


    {% if config.piwiki %}
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//piwik.normal.no/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 1]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="//piwik.normal.no/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
    {% endif %}

  </body>
</html>
