<!DOCTYPE html>
<html lang="no">
  <head>
    <meta charset="utf-8" />

    <title>{%block title%}Norsk organisasjon for reform av
      marihuanalovgivningen{%endblock title%}</title>

    <link rel="shortcut icon" href="{{STATIC_URL}}images/favicon.ico" />

    {% if debug %}
    <!--
    <link rel="stylesheet" href="{{STATIC_URL}}css/reset.css" />
    -->
    <link rel="stylesheet/less" href="{{STATIC_URL}}css/main.less" />
    <link rel="stylesheet/less" href="{{STATIC_URL}}css/menu.less" />
      <!-- @todo use extrahead block in menu template instead? -->
    {% else %}
    <link rel="stylesheet" href="{{STATIC_URL}}css/main.css" />
    {% endif %}

    {% block extrahead %}
    {% endblock %}

    {% if debug %}
    <script src="{{STATIC_URL}}js/less-1.3.0.min.js"></script>
    {% endif %}
  </head>

  <body>

    <div id="wrapper">

    <div id="header">
      <!--
      <img src="{{STATIC_URL}}images/logo.png" />
      -->
    </div>

    <div id="menu">
      {% include "menu.html" %}
    </div>

    <div id="content">
    <div id="article">
      {% block content %}
      {% endblock %}
    </div>
    </div>

    <!-- possible to override footer here.
    @todo better with block to add stuff after/before footer?
    -->
    <div id="footer">
      {% block footer %}
      <pre class="debug">{% for q in sql_queries %}{{q.time}}s : {{q.sql}}<br>{% endfor %}</pre>
      {% endblock %}
    </div>
  
  </div>

  </body>
</html>
