<!DOCTYPE html>
<html lang="no">
  <head>
    <meta charset="utf-8" />
    <title>{%block title%}Normal{%endblock title%}{%block extratitle%}{%endblock%}</title>

    {% if not debug %}
    <link rel="stylesheet" href="{{STATIC_URL}}css/main.css" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/menu.css" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/style.css" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/forms.css" />
    {% endif %}

    {% if debug %}
    <style>
      html { border-right: 6px solid maroon; border-left: 6px solid maroon; }
    </style>
    <link rel="stylesheet/less" href="{{STATIC_URL}}css/main.less" />
    <link rel="stylesheet/less" href="{{STATIC_URL}}css/menu.less" /> <!-- @todo use extrahead block in menu template instead? -->
    <link rel="stylesheet/less" href="{{STATIC_URL}}css/style.less" />
    <link rel="stylesheet/less" href="{{STATIC_URL}}css/forms.less" />
    <script src="{{STATIC_URL}}js/less.js"></script>
    {% endif %}

    {% block extrahead %}
    {% endblock %}

    <style>{% block extrastyle %}{% endblock %}</style>
  </head>

  <body>
    <div id="wrapper">

      <header>
	<div id="menu">{% include "menu.html" %}</div>
	{% block header %} <!-- not in use -->
	{% endblock %}
      </header>

      <!-- MAIN CONTENT -->
      <div id="content">

	{% block top %}
	{% endblock %}

	{% if messages %}
	<ul id="messages">
	  {% for message in messages %}
	  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	  {% endfor %}
	</ul>
	{% endif %}

	<div id="article">
	  {% block content %}
	  {% endblock %}
	</div>
      </div>

      <footer>{% include "footer.html" %}</footer>
      <div style="clear:both"></div>

      {% if debug %}
      <pre class="debug">{% for q in sql_queries %}{{q.time}}s : {{q.sql}}<br>{% endfor %}</pre>
      {% endif %}

    </div>  <!-- wrapper -->
  </body>
</html>
