
<div style="float:left">
  <h3>Kontakt</h3>
  <div>
    <address>
      Normal<br />
      Hjelmsgate 3<br />
      0355 Oslo
    </address>
  </div>
</div>

<div style="float:left">
  <h3>&nbsp;</h3>
  <div>
    Telefon: 99 32 59 61<br />
    E-post: <a href="mailto:post@normal.no">post@normal.no</a><br />
    <!--
    Kart: <a href="http://g.co/maps/7uyez">http://g.co/maps/7uyez</a>
    -->
  </div>
</div>


<div style="float:left">
  <h3>Sosiale media</h3>

  <div style="margin-top: 17px">
    <a href="https://twitter.com/NormalNorway">
      <img src="{{ STATIC_URL }}images/icons/twitter.png" />
    </a>
    &nbsp;
    <a href="https://facebook.com/NormalNorway">
      <img src="{{ STATIC_URL }}images/icons/facebook.png" />
    </a>
    &nbsp;
    <a href="http://youtube.com/user/normalnorway">
      <img src="{{ STATIC_URL }}images/icons/youtube.png" />
    </a>
    &nbsp;
    <a href="https://google.com/+NORMALNorge">
      <img src="{{ STATIC_URL }}images/icons/google+.png" />
    </a>

  </div>
</div>


<div style="float:left">
  <h3>Annet</h3>
  <div style="font-weight: bolder">
    <a href="http://blogg.normal.no">Blogg</a>
    <br />
    <a href="http://wiki.normal.no">Wiki</a>
  </div>
</div>


