{% load static from staticfiles %}
<div itemscope itemprop="address" itemtype="http://schema.org/PostalAddress">

  <div style="float:left;">
    <h3>Kontakt</h3>
    <div> {# @todo drop this div, and use address instead #}
      <address>
        <span itemprop="name">Normal</span><br />
        <span itemprop="streetAddress">
          <a href="http://g.co/maps/7uyez" style="color:inherit">Hjelmsgate 3</a>
        </span><br />
        <span itemprop="postalCode">0355</span>
        <span itemprop="addressLocality">Oslo</span>
        <meta itemprop="addressCountry" content="Norway" />
      </address>
    </div>
  </div>

  <div style="float:left; margin-left:40px">
    <h3>&nbsp;</h3>
    <div>
      Telefon: <span itemprop="telephone">993 25 961</span><br />
      E-post: <a href="mailto:post@normal.no" rel="author" itemprop="email">post@normal.no</a><br />
    </div>
  </div>

</div>


<div style="float:left; margin-left: 75px;">
  <h3>Sosiale media</h3>

  <div style="margin-top: 17px">
    <a href="https://twitter.com/NormalNorway">
      <img src="{% static 'images/icons/twitter.png' %}" alt="Twitter"
           title="Følg oss på Twitter" width="32" height="32" />
    </a> &nbsp;
    <a href="https://www.facebook.com/NormalNorway">
      <img src="{% static 'images/icons/facebook.png' %}" alt="Facebook"
           title="Lik oss på Facebook" width="32" height="32" />
    </a> &nbsp;
    <a href="http://www.youtube.com/user/normalnorway">
      <img src="{% static 'images/icons/youtube.png' %}" alt="Youtube"
           title="Normals Youtube-kanal" width="32" height="32" />
    </a>
  </div>
</div>


<div style="float:right;">
  <h3>Andre nettsteder</h3>
  <div class="strong" style="text-align: right;">
    <a href="http://blogg.normal.no">Blogg</a><br />
    <a href="http://wiki.normal.no">Wiki</a>
  </div>
</div>


<div class="clear"></div>
