{% load static from staticfiles %}
<div>
  <div style="float:left;">
    <h3>Kontakt</h3>
    <address>
      Normal<br />
      <a href="http://g.co/maps/7uyez" style="color:inherit">Hjelmsgate 3</a><br />
      0355 Oslo
    </address>
  </div>

  <div style="float:left; margin-left:40px">
    <h3>&nbsp;</h3>
    <div>
      Telefon: <a href="tel:+4799325961">993 25 961</a><br />
      E-post: <a href="mailto:post@normal.no">post@normal.no</a>
    </div>
  </div>
</div>


<div style="float:right;">
  <h3>Andre nettsteder</h3>
  <div class="strong" style="text-align: right;">
    <a href="http://blogg.normal.no">Blogg</a><br />
    <a href="http://wiki.normal.no">Wiki</a>
  </div>
</div>


<div class="clear"></div>
