<!DOCTYPE html>

<html lang="no">

  <head>
    <title>Norsk organisasjon for reform av marihuanalovgivningen</title>
    <link rel="shortcut icon" href="{{STATIC_URL}}favicon.ico" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/main.css" />

    <!--
    <script src="http://yandex.st/dojo/1.7.2/dojo/dojo.js"></script>
    <script src="{{STATIC_URL}}/js/editor.js"></script>
    <link rel="stylesheet" href="{{STATIC_URL}}css/editor.css" />
    -->
  </head>

  <body>

    <img src="{{STATIC_URL}}images/logo.png" />

    <!--
    <textarea></textarea>
    <script src="script.js"></script>
    -->
  </body>

</html>
