{% extends "base.html" %}

{% block content %}
<br>
<p>Hello world</p>
{% endblock %}


<!--
    <title>Norsk organisasjon for reform av marihuanalovgivningen</title>
    <link rel="shortcut icon" href="{{STATIC_URL}}favicon.ico" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/main.css" />

    @note possible to use 'async' on jquery-ui if only used after DOM ready?
    <script src="///ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" defer></script>
    <script src="///ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js" defer></script>

    <script src="//yandex.st/dojo/1.7.2/dojo/dojo.js" defer></script>
    <script src="{{STATIC_URL}}/js/editor.js" defer></script>
    <link rel="stylesheet" href="{{STATIC_URL}}css/editor.css" />
-->
