{% load menu %}

{# @todo use url's to resolve urls #}

<ul id="nav">
  <li><a href="/">Hjem</a></li>
  <li><a href="/nyheter/arkiv/">Nyheter</a></li>
  <li><a href="/aktuelt/">Aktuelt</a></li>
  <li><a href="/nettguide/">Lenker</a></li>
  <li><a href="#">Tema ▼</a>
    <ul>
      <li><a href="#">Hva er cannabis?</a></li>
      <li><a href="#">Ofte spurte spørsmål</a></li>
    </ul>
  </li>
  <li><a href="/om-normal/">Om Normal</a></li>
  <li><a href="/bli-medlem/">Støtt</a></li>
  <li><a href="http://blogg.normal.no">Blogg</a></li>
  <li style="float:right"><a href="/admin">Logg inn</a></li>
</ul>
<div style="clear:both;"></div>
