{% extends "base.html" %}

{% block extratitle %} » Nyhetsbrev{% endblock %}

{% comment %}
Can search engines find my campaign archives?
A: No! Have turned off Google Archiving for campaign archives for
  security and privacy purposes.
@todo make each campaign available at /nyhetsbrev/<id>
@todo group by year
@todo better to sync regularly to the database (then pagination and
      grouping by year is much easier)
@todo add last-modified and/or expire
{% endcomment %}

{% block content %}

<h1>Nyhetsbrev</h1>

<p>Normals nyhetsbrev er en e-postliste med lavt volum. Du vil motta
(maks) én ukentlig e-post med en cannabispolitisk oppsumering, samt
informasjon om Normals aktiviteter. Vi bruker også nyhetsbrevet til å
sende ut viktige meldinger.</p>

<h3>Abonnér</h3>

<a href="http://eepurl.com/S3rFH"><strong>Meld deg på nyhetsbrevet her.</strong></a>

<h3>Arkiv</h3>

{% load cache %}
{% cache 259200 newsletter-archive %}
<ul style="list-style:none;margin:0;padding:0;">
  {% for item in campaigns %}
  {# todo: <li>{{item.send_time}}&ensp;<a href="{{item.id}}/">{{item.title}}</a></li>#}
  <li>{{item.send_time}}&ensp;<a href="http://us8.campaign-archive2.com/?u=83f55d24d6e9ba83485358741&amp;id={{item.id}}">{{item.title}}</a></li>
  {% endfor %}
  <li>01.05.2014&ensp;<a href="1/">Nyhetsbrev #1</a></li>
</ul>
{% endcache %}

{% endblock %}
