{% extends "base.html" %}

{% comment %}
The first newsletter was not sendt by MailChimp, and are therfor
not in there archive. It's manually posted at: /nyhetsbrev/1
{% endcomment %}

{% block extratitle %} » Nyhetsbrev #1{% endblock %}

{% comment %}
{% block extrastyle %}
<style type="text/css">
  body { width: 50em; font: 12pt/16pt sans-serif; }
  li { margin-bottom: .66em; }
</style>
{% endblock %}
{% endcomment %}


{% block content %}

<h1>Normals Nyhetsbrev #1</h1>

<p>Dersom du ønsker å motta nyhetsbrev fra oss klikker du
på denne linken: <a class="moz-txt-link-freetext"
href="http://eepurl.com/S3rFH">http://eepurl.com/S3rFH</a></p>

<p>Ønsker du å være aktiv i organisasjonen, ta
kontakt per mail eller tlf. Se nederst for kontaktinformasjon.</p>

<p>Vi i NORMAL har nå satt opp e-postlister og planlegger å
sende ut jevnlige nyhetsbrev; type én til to ganger i uken.</p>


<h2>Litt om hva som skjer hos oss i NORMAL</h2>

<ul>

<li>Vi planlegger nå årsmøte i mai/juni, dato er
ikke fastsatt enda og saksliste vil bli sendt ut noen uker i forkant av
møtet. Send oss en mail dersom du har saker du ønsker tatt
opp. På årsmøtet vil det også bli valgt et nytt
styre, for å ha stemmerett må du ha betalt inn
medlemskontigent. Kom gjerne med forslag til styrekandidater.

<li>Det er fortsatt åpent møte i våre lokaler
i Hjelmsgt annenhver torsdag (ukenr. med oddetall).

<li>Vi planlegger å åpne filmklubb én gang i mnd
hvor vi i hovedsak vil vise cannabisrelaterte dokumentarer. Mer
informasjon om dette vil bli sendt ut senere. Kom gjerne med
forslag.

<li>Vi planlegger også jevnlige konserter/arrangementer
på huset, hvor alt av overskudd vil gå direkte til NORMALs
arbeid. Mer informasjon om dette vil også komme etterhvert.

<li>Nå som våren er rett rundt hjørnet har vi
en gruppe frivillige som vil gå ute på gaten å
rekruttere nye medlemmer og dele ut informasjonsmateriell.

<li>NORMAL har trukket seg ut av MariuhanaMarsjen, ansvaret er
overlatt til en uavhengig gruppe og går som normalt første
lørdagen i mai.

<li>For andre år på rad arrangeres det marsj
i Tromsø, også første lørdag i mai.
Arrangør er NORMALs lokallag i Tromsø.

<li>MarihuanaMarsjen har nå egne hjemmesider, sjekk de ut
<a href="http://www.marihuanamarsjen.com/">http://www.marihuanamarsjen.com/</a>.
Sidene er fortsatt under utvikling.

<li>Vi har opprettet en ny blogg og er i fasen med å knytte
til oss skribenter, ta gjerne kontakt hvis dette er noe du ønsker
å bidra med <a
href="http://blogg.normal.no/">http://blogg.normal.no/</a>.

<li>Det er også satt opp en wiki-side, som vil brukes til
å samle all relevant informasjon <a
href="http://cannawiki.no/">http://cannawiki.no/</a> Den er åpen
for alle.

<li>Det jobbes på spreng med utformingen av de ny
nettsidene, og den foreløpige planen er at dette er oppe å
går om en måneds tid.

<li>Det planlegges en dugnad i løpet av våren, mer
info kommer senere.

<li>Vi har nå en stor gruppe fantastiske frivillige
ildsjeler, og vi ønsker oss fler. Vi har delt opp frivillige
i følgende grupper/arbeidsområder: rekrutteringsgruppe,
fest- og arrangementsgruppe, sjauegruppe, skribentgruppe og
sosialemediagruppe. Vi har behov for mennesker med alle mulig
erfaringerer og talenter, mennesker som kan bidra mye eller mennesker
som kan bidra litt. Ta kontakt, enten på mail, tlf eller stikk
innom.

<li>Vi har nå to personer som jobber på kontoret
på dagtid, Torkel og Ester, ta kontakt for avtale dersom du
ønsker å komme innom.

<li>Vi har det siste året fått flere hendvendelser
som dreier seg om å starte lokallag, dersom du ønsker
å være med på å starte lokallag der du bor kan
du sende oss en mail, så kan vi være behjelpelig med å
sette mennesker i kontakt med hverandre.

</ul>


<p>Lik oss gjerne på Facebook:
<a href="https://www.facebook.com/NormalNorway">https://www.facebook.com/NormalNorway</a>.

<p>Følg oss gjerne på Twitter:
<a href="https://twitter.com/NormalNorway">https://twitter.com/NormalNorway</a>.

<p>Og/eller bli venn med NORMALs Facebook-bruker:
<a href="https://www.facebook.com/lamors.normal">https://www.facebook.com/lamors.normal</a>

<p style="margin-top: 2.5em;">Mvh Torkel og Ester</p>

<pre cols="72" style="color: gray; font-size: smaller;">--&nbsp;
Norsk organisasjon for reform av marihuana-lovgivningen
Hjelmsgt. 3, 0355 Oslo              Telefon 99 32 59 61
<a href="http://normal.no">http://normal.no</a>                  <a href="mailto:post@normal.no">mailto:post@normal.no</a>
<a href="https://www.facebook.com/NormalNorway">https://www.facebook.com/NormalNorway</a>
</pre>

{% endblock %}
