{% extends "base.html" %}

{% block content %}

  <!--
  <div id="xheader">
    <h1 class="title">Nyhetsbrev</h1>
  </div>
  -->

  <h1>Nyhetsbrev</h1>

  <p>Normals nyhetsbrev er en e-postliste med lavt volum. Du vil motta
  (maks) én ukentlige e-post med en cannabispolitisk oppsumering, samt
  informasjon om NORMALs gjøren og laden.</p>

  <p>Ønsker du å delta i prosjekt-grupper, har vi egne e-postlister for
  dette. Kontakt <a href="mailto:post@normal.no">post@normal.no</a>
  for mer informasjon.</p>

  <h3>Abonér</h3>

  <a href="http://eepurl.com/S3rFH">Klikk her for å melde deg på.</a>

  <h3>Arkiv</h3>

  <script
    language="javascript"
    src="http://us8.campaign-archive2.com/generate-js/?u=83f55d24d6e9ba83485358741&fid=7333&show=10"
    type="text/javascript">
  </script>

  <!-- Manually insert first newsletter (was not posted through MailChimp -->
  <div class="campaign" style="font-size: 12px;">05/01/2014 -
    <a href="http://normal.no/nyhetsbrev/1.html" target="_blank">Normals nyhetsbrev #1</a></div>

{% endblock %}
