{% extends 'base.html' %}

{% block content %}

<h2>My Profile</h2>

{% with user.get_profile as profile %}

<div style="position:relative; height: 0px;">
<div style="width:133px; height:133px;" class="shadow0">
  <div style="position:absolute; clip:rect(auto auto 133px auto);">
    <img src="{{profile.avatar.url}}" width="133">
  </div>
</div>
</div>

<div style="margin-left: 150px">
Username: {{user.username}}
<br>
E-mail {{user.email}}
<br>
Country: {{profile.country}}
</div>
{% endwith %}

{% endblock %}
