{% extends "base.html" %}

{# Used for custom edit form: /edit/page/<pk>/ #}

{% block extratitle %} » Rediger{% endblock %}

{% block extrahead %} {{ form.media }} {% endblock %}

{% block extrastyle %}<style>
#id_title {
  width: 30em;
}
form#page_edit label {
  font-weight: bolder;
}
</style>
{% endblock %}


{% block content %}

<h1>Rediger side: <span class="smaller">{{ form.title.value }}</span></h1>

<div>{{ form.non_field_errors }}</div>

<form method="post" id="page_edit">
  {% csrf_token %}

  <input type="submit" value="Lagre" style="float:right" />

  {{ form.title.errors }}
  <p class="{{form.required_css_class}}">
    {{ form.title.label_tag }} {{ form.title }}
  </p>

  <p>{{ form.content }}</p>

  <p>
    <input type="submit" value="Lagre" />
  <!--
    <input type="submit" value="Lagre" name="save" />
    <input type="submit" value="Avbryt" name="cancel" />
  -->
  </p>
</form>

{% endblock %}
