{% extends "base.html" %}

{# Used for custom edit form: /edit/block/<pk>/ #}

{% block extratitle %} » Rediger seksjon{% endblock %}

{% block extrahead %} {{ form.media }} {% endblock %}

{% block extrastyle %}<style>
ul.errorlist {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 20px;   /* hardcoded */
    color: #cc0000;
}
</style>
<!--
<script>
</script>
-->
{% endblock %}


{% block content %}

<h1>Rediger seksjon: <span class="smaller">{{ object.name }}</span></h1>


{# @todo move inside form, and use global css? #}
{% if form.errors %}
<h3 class="error">Vennligst rett følgende feil:</h3>
{{ form.errors }}
{# @todo form.non_field_errors & form.content.errors #}
{% endif %}


<form method="post" id="edit_block"> {% csrf_token %}

  <p>{{ form.content }}</p>

  <p>
    <input type="submit" value="Lagre" />
    <input type="submit" value="Lagre og fortsett å redigere" name="save-and-stay" />
    <input type="button" value="Tilbake" onclick="javascript:window.history.back();" />
    {# is history.back() ok? works in my firefox ... #}
    <!--
    <input type="reset" value="Tilbakestill" />
    -->
  </p>
</form>

{% endblock %}
