/**
 * Semantic classes.
 *
 * If these style classes should be available in the TinyMCE editor,
 * they must be added to this file: tinymce4/static/tinymce4/tinymce.js
 * @todo can do it automatically with tinymce.html.Styles?
         or tinymce.dom.DOMUtils.parseStyle?
 */

// @todo highlight, date?

.ingress {
    font-weight: bold;
    font-style: italic;
    font-size: larger;
}

.no-style {
    // body-text. undo all style changes?
}

.larger {
    font-size: larger;
}

.smaller {
    font-size: smaller;
}

.strong {
  font-weight: bolder;
}

.gray {  // better name: less-important?
  color: gray;
}


.clear {
  clear: both;
}


td.valign-top {
  vertical-align: top;
}
