/** Semantic clases like .ingress, .faktaboks, etc.
 */

.admin-edit-link {
  float: right;
  height: 22px; // hack: used to manually align image since floating
  font-size: x-small;
  padding-left: 14px;
  background: url('/static/admin/img/icon_changelink.gif') no-repeat left center;
}
