/**
 * Good artists copy, great artists steal. -- Pablo Picasso
 *
 * @todo rename base.css?
 */

html {
    background-color: #b0b0b0;
}

body {
    background-color:#FFF;
//    color: #333;
    width: 61em;
    margin: 2em auto;
}

#content, #footer {
    padding: 1em 1.5em;
}
#footer {
    padding-top: 0;
}

p {
    margin: 1em 0;
}

pre.debug {
    overflow-x: auto;
}
