/*
Good artists copy, great artists steal. -- Pablo Picasso
*/

html {
    background-color: #b0b0b0;
}

body {
    background-color:#FFF;
//    color: #333;
    width: 63em;
    margin: 2em auto;
    padding: 1em;
}
