/**
 * Good artists copy, great artists steal. -- Pablo Picasso
 *
 * @todo rename base.css?
 * @todo @import "reset.css"?
 */

html {
    min-height: 100%;
}

body {
    color: #111;
    background-color: #b0b0b0;
    margin: 2em auto;
    max-width: 56em;
}

p {
    margin: 0.8em 0;
}

a {
    color: #cc333f;
    text-decoration: none;
}

pre {
    background-color: #f6f6f6;
    border: 1px dotted #111;
    font-family: monospace;
    font-size: 0.9em;
    line-height: 1.3em;
    margin: 1.65em 0;
    padding: 1em;
    overflow: auto;
}

/* Headers */
h1, h2, h3, h4 {
    padding: 0.325em 0;
    font-family: Verdana, sans-serif;
    font-weight: 500;
}

h1 {
    font-size: 1.85em;
    letter-spacing: -0.05em;
}

h1.title {
    font-size: 2.5em;
    color: #cc333f;
    border-bottom: 2px solid #111;
    margin:0;
    padding:0;
    padding-bottom: .3em;
}

h2 {
    font-size: 1.4em;
    letter-spacing: -0.05em;
}

h3 { font-size: 1.2em; color: #555; }
h4 { font-size: 1.1em; color: #666; }



/**
 * Page building blocks
 */

#wrapper {
    background-color: #fff;
}

#content {
    padding: 1em 4em;
}

#xheader {
    margin-bottom: 1em;
    padding: 1.5em 0.8em 0 0;
    text-align: right;
}

#article {
    line-height: 1.5em;
}



/**
 * Sections, etc.
 */

form .error , form .errorlist {
  color: #cc0000;
}

#messages {
  padding: 0.5em;
  border: 1px dashed black;
  background-color: #c2ebba;
  list-style-type: none;
}
