footer
{
  margin: 20px 30px 0 30px;
  border-top: 1px solid maroon;
  padding-top: 20px;
}

footer h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 6pt;
  margin-left: -1pt;
}

footer > div {
  margin-right: 55px;
}



/** Semantic classes */

.strong {
  font-weight: bolder;
}

.smaller {
  font-size: smaller;
}

.clear {
  clear: both;
}

.gray {
  color: gray;
}


/** Nyheter */
// @todo possible to limit to app. e.g. #app_news
// @todo own file per app? @include 'apps/news'

/* detailed view
// @todo #app_news .view_detail OR #app_news_detail
p.date {
  color: #555;
}
p.abstract {
  font-weight: bolder;
}
*/

#news-archive .main {
  width: 80%;
  float: left;
}
#news-archive .aside {
  width: 10%;
  float: right;
  text-align: center;
}



/**
 * URL: /om-normal/ledelsen/
 *
 * @todo wrap everything inside div. But how? This is using a flatpage.
 */

table.style1 {
  border-collapse: collapse;
}

table.style1 td {
  padding: 1.33ex 1.33em 1.33ex 0;
}

div.name {
  font-weight: bold;
  font-size: larger;
}

div.role {
  font-style: italic;
}

p.bio {
  font-size: small;
}
