{% extends "base.html" %}

{% block extratitle %} » Nyhetstips {% endblock %}

{% block extrastyle %}
<style>
  #id_url {
    width: 41em;
  }
  #id_summary {
    width: 50em;
    height: 7em;
  }
  #id_title {
    width: 41em;
  }
  /* testing. form.as_ul() */
  ul.form > li > label {
    display: block;
    font-weight: bold;
  }
  ul.form > li {
    list-style: none;
    margin-bottom: 6px;
  }
</style>
{% endblock %}


{% block content %}

<h2>Foreslå nyhetslenke</h2>

{% if form.errors %}
<p class="error">Vennligst rett feilen(e) under!</p>
{% endif %}

{# needed? #}
{% if form.non_field_errors %}
TODO: {{ form.non_field_errors }}
{% endif %}

{# @todo nuke everything below except step 1 #}
{# @todo add bookmarklet text from ../test.html #}

{# Step 1 - Get the URL #}
{% if not step %}

<br/>
<form method="get" action='{% url "news-auto-new" %}'>
  <!--
  {% csrf_token %}
  <input type="hidden" name="step" value="1" />
  -->
  <strong>Adresse</strong>
  <input type="url" name="url" size="40" required />
  &nbsp;
  <input type="submit" value="Neste »" />
</form>

{# <li>{{ form.url.label_tag }} {{ form.url }}</li> #}


{# Step 2 - Get rest of meta data #}
{% else %}

<p><small>
  {{url}}
  {% if url != form.url.value %}
  <br/>Note: URL was transformed!
  {% endif %}
</small></p>

<form method="post">
  {% csrf_token %}
  <input type="hidden" name="step" value="2" />
  <ul class="form">
    {{ form.as_ul }}
  </ul>
  <input type="submit" value="Lagre" />
</form>

{% endif %}


{% endblock %}
