{% extends "base.html" %}
{% load cms %}

{% block extratitle %} » Nyhetsarkiv{% endblock %}

{% block content %}
<div id="news-archive">

  <h1>Nyhetsarkiv</h1>

  <p>
  {% cms_content "nyheter-top" %}
  </p>

  <div class="aside">
    <h3>Årstall</h3>
    {% for date in date_list %}
    <p class="strong"><a href="{% url 'news-archive-year' date.year %}">{{date.year}}</a></p>
    {% endfor %}
  </div>

  <div class="small strong">Det er {{page_obj.paginator.count}} nyheter i
  arkivet.</div>

  <div class="main">
    <p>{% include "news/paginator.html" %}</p>
    {% include "news/article_archive_common.html" %}
    <br><p>{% include "news/paginator.html" %}</p>
  </div>

  <div class="clear"></div>
</div>
{% endblock %}
