{% extends "base.html" %}

{# Note: if not url and not body -- does not make sense #}

{# @todo redirect to url if no body? q: but what if url is dead? #}
{# @todo dont put styles in extrastyle. and wrap in div#app-news-detail #}

{% block extratitle %} » Nyheter{% endblock %}

{% block extrastyle %}
<style>
p.date {
  color: #555;
}
p.abstract {
  font-weight: bolder;
}
</style>
{% endblock %}


{% block content %}

{% if article.url and article.body %}
<h1>Nyhetskommentar</h1>
{% else %}
<h1>Nyhetsak</h1>
{% endif %}

<h2>{{ article.title }}</h2>

<p class="date">Publisert: <time itemprop="datePublished"
  datetime="{{article.get_date.isoformat}}">{{ article.get_date }}</time></p>

<p class="abstract">{{ article.summary }}</p>

{% if article.url %}
<p><a href="{{article.url}}">{{article.url}}</a></p>
{% endif %}

{% if article.body %}
{% if article.url %}<h3>Normals kommentar</h3>{% endif %}
<p class="body">{{ article.body|safe }}</p>
{% endif %}

{% endblock %}
