{% extends "base.html" %}

{% load cms %}

{% block extratitle %} » Nyhetsarkiv{% endblock %}

{# HACK: will duplicate these tags. Better to create OpenGraphMixin to use with the views #}
{% block extrahead %}
<meta property="og:title" content="Normals nyhetsarkiv" />
<meta property="og:description" content="I arkivet finner du nesten alle norske cannabisnyheter fra 1996 og frem til i dag." />
{% endblock %}


{% block content %}

{% if perms.news.change_article %}
<div id="admin-buttons">
  <a href="{% url 'admin:news_article_changelist' %}"></a>
</div>
{% endif %}


<div id="news-archive">

  <h1>Nyhetsarkiv</h1>

  {% cms_content "nyheter-top" %}

  <h3>Søk i arkivet</h3>

  <div style="border: 0px dashed black; padding: 12px; background-color: #eee;">
    <div id='cse-news' style='width: 100%;'>Venter på Google &hellip;</div>
  </div>

  {% load cache %}
  {% cache 86400 news-sidebar-year %}
  <div class="aside">
    <h3>Årstall</h3>
    {% for date in date_list %}
    <p class="strong"><a href="{% url 'news-archive-year' date.year %}">{{date.year}}</a></p>
    {% endfor %}
  </div>
  {% endcache %}

  <h3>Arkivet, kronologisk</h3>

  <div class="strong">Antall nyheter: {{page_obj.paginator.count}}</div>

  {# <div>Viser {{object_list.count}} av {{page_obj.paginator.count}} nyheter.</div> #}

  <div class="main">
    <p>{% include "news/paginator.html" %}</p>
    {% include "news/article_archive_common.html" %}
    <p>{% include "news/paginator.html" %}</p>
  </div>

  <div class="clear"></div>

  <div class="icon-top"><a href="#til-toppen"></a></div>
</div>
{% endblock %}


{% block extrafoot %}
{% if not config.debug %}
<script>  {# Note: Google search code is already by the main search box #}
  google.setOnLoadCallback(function() {
    var customSearchOptions = {};
    var orderByOptions = {};
    orderByOptions['keys'] = [{label: 'Relevance', key: ''} , {label: 'Date', key: 'date'}];
    customSearchOptions['enableOrderBy'] = true;
    customSearchOptions['orderByOptions'] = orderByOptions;
    //customSearchOptions['overlayResults'] = true;
    var customSearchControl =   new google.search.CustomSearchControl('004823761881989726086:bufke4urq4q', customSearchOptions);
    customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
    var options = new google.search.DrawOptions();
    customSearchControl.draw('cse-news', options);
  }, true);
</script>
{% endif %}
{% endblock %}
