{% extends "news/base.html" %}
{% load url from future %}

{% block news %}

<h1>Nyhetsarkiv</h1>

<pre>Template: article_archive</pre>

<!-- @note paginator is None if not paginated or less articles
Alle: {{paginator.count}} artikler
-->
{% if is_paginated %}
{% endif %}

<p>
År:
{% for date in date_list %}
<a href="{{date.year}}">{{date.year}}</a>{%if not forloop.last%} | {%endif%}
{% endfor %}
</p>

<p>
Viser {{page_obj.start_index}}-{{page_obj.end_index}} av {{paginator.count}}
artikler.
</p>

<!-- Navbar for pagination -->
<!--
@todo make general?
- pass page in GET: href="?page="
- pass name/view to use with reverse url
-->
<p>
  Side {{page_obj.number}} av {{page_obj.paginator.num_pages}}

  &nbsp;&nbsp;&nbsp;

  {% if page_obj.has_previous %}
  <a href="{% url 'news-archive' %}page/{{page_obj.previous_page_number}}">« Forrige</a>
  {% else %}
  <span style="color: gray">« Forrige</span>
  {% endif %}

  &nbsp;|&nbsp;

  {% if page_obj.has_next %}
  <a href="{% url 'news-archive' %}page/{{page_obj.next_page_number}}">Neste »</a>
  {% else %}
  <span style="color: gray">Neste »</span>
  {% endif %}
</p>

<!--
https://docs.djangoproject.com/en/1.7/topics/pagination/
<div class="pagination">
    <span class="step-links">
        {% if contacts.has_previous %}
            <a href="?page={{ contacts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
        </span>

        {% if contacts.has_next %}
            <a href="?page={{ contacts.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
-->

{% include "news/article_archive_common.html" %}

{% endblock %}
