{% extends "base.html" %}
{% load url from future %}

{% block extratitle %} » Nyheter {{ month|date:"F Y" }}{% endblock %}

{% block content %}
<div id="news-archive">

  <h1>Nyhetsarkiv, {{ month|date:"F Y" }}</h1>

  {% comment %}
  @todo print all months, and mark the selected one
  <div class="aside strong">
    <h3>Måned</h3>
    {% for date in date_list %}
    <p class="strong"><a href="{% url 'news-archive-month' date.year date.month %}">{{date|date:"F"}}</a></p>
    {% endfor %}
  </div>
  {% endcomment %}

  {% with len=object_list|length %}
  <p class="smaller">Viser {{len}} nyhet{{len|pluralize:"er"}}</p>
  {% endwith %}

  {# @todo handle boundaries #}
  <nav style="margin-bottom: -1ex">
    <a rel="prev" href="{%url "news-archive"%}{{previous_month|date:"Y/m"}}/">« Forrige måned</a> &nbsp;|&nbsp;
    <a rel="next" href="{%url "news-archive"%}{{next_month|date:"Y/m"}}/">Neste måned »</a>
  </nav>

  <div class="main">
    {% include "news/article_archive_common.html" %}
  </div>

  <div class="clear"></div>
</div>
{% endblock %}
