{% extends "base.html" %}
{% load url from future %}

{# @todo reverse sort order? jan-dec #}
{# @todo paginate? #}

{% block extratitle %} » Nyheter {{ year|date:"Y" }}{% endblock %}

{% block content %}
<div id="news-archive">

  <h1>Nyhetsarkiv, {{ year|date:"Y" }}</h1>

  <div class="aside">
    <h3>Måned</h3>
    {% for date in date_list %}
    <p class="strong"><a href="{% url 'news-archive-month' date.year date.month %}">{{date|date:"F"}}</a></p>
    {% endfor %}
  </div>

  {# @todo pluralize #}
  <div class="strong">Viser {{object_list|length}} nyheter.</div>

  <div class="main">
    {% include "news/article_archive_common.html" %}
  </div>

  <div class="clear"></div>
</div>
{% endblock %}
