{% extends "base.html" %}

{% block extratitle %} » Nyhetstips {% endblock %}

{% block extrastyle %}
<style>
  #id_url {
    width: 41em;
  }
  #id_summary {
    width: 43em;
    height: 7em;
  }
  #id_title {
    width: 41em;
  }
  ul.form > li > label {
    display: block;
    font-weight: bold;
  }
  ul.form > li {
    margin-bottom: 6px;
  }
</style>
{% endblock %}

<!--
This template is used for multiple views.
How it behaves depends on these context vars:
* url_missing
* got_all_data
-->

{% block content %}

<h1>Nyhetstips</h1>

{% if url_missing %}

<form method="post" style="padding: 1ex 0 1ex 0">
  {% csrf_token %}
  <strong>Adresse:</strong>
  <input type="url" name="url" size="40" required />
  <input type="submit" value="Neste »" style="margin-left: 1ex" />
</form>

<h3>Mer informasjon</h3>

<p>Foreslå i utgangspunktet kun norske nyhetssaker.</p>

<p>Merk: Nyhetslenken må godkjennes av Normal før den blir publisert.
Dette gjelder ikke hvis du er logget inn på siden. Send oss en
<a href="mailto:post@normal.no">e-post</a> for å få tilgang.</p>

{% else %}



{% if missing %}
<!--
<p class="strong">
Har du mulighet, fyll gjerne ut de manglende feltene under før du lagrer.
Det sparer oss for tid og den vil bli publisert raskere.
</p>
-->
<p><span class="strong">Husk å lagre! Har du mulighet så fyll
gjerne ut de manglende feltene før du lagrer.</span> Det sparer oss for tid
og nyheten blir publisert raskere. Du kan høyreklikke på lenken under og
velge «åpne i ny fane/vindu».</p>
{% endif %}

{% if form.errors %}
<p class="error">Vennligst rett feilen(e) under!</p>
{% endif %}


<p><strong>Adresse:</strong>
<br><a href="{{ form.url.value }}" class="smaller">{{ form.url.value }}</a></p>

{# q: why not drop action? #}
<form method="post" action='{% url "news-new" %}'>
  {% csrf_token %}
  <ul class="form">
    {{ form.as_ul }}
  </ul>
  <input type="submit" value="Lagre" />
</form>

{% endif %}   {# if url_missing #}
{% endblock %}
