{# List all articles in object_list #}

{% for news in object_list %}
  {% if news.body %}
    <h3><a href="{{ news.get_absolute_url }}">{{ news.title }}</a></h3>
  {% else %}
    <h3><a href="{{ news.url }}">{{ news.title }}</a></h3>
  {% endif %}
  <div style="font-weight: bolder">{{ news.summary }}</div>
  <div style="color:#444"><small>» {{ news.date }}</small></div>
  <!--
  <div class="date"><small>{{ news.date }}</small></div>
  <div class="abstract">{{ news.summary }}</div>
  -->
{% endfor %}

{# @todo Gå til toppen-lenke #}
