{% extends "base.html" %}

{# @todo redirect to url if no body? q: but what if url is dead? #}
{# @todo dont put styles in extrastyle. and wrap in div#app-news-detail #}
{# @todo s/Nyhetskommentar/Nyhetssak/g? if allowing empty url #}

{% block extratitle %} » Nyhetskommentar{% endblock %}

{% block extrastyle %}
<style>
p.date {
  color: #555;
}
p.abstract {
  font-weight: bolder;
}
</style>
{% endblock %}


{% block content %}

<h1>Nyhetskommentar</h1>

<h2>{{ article.title }}</h2>
<p class="date">Publisert: {{ article.get_date }}</p>
<p class="abstract">{{ article.summary }}</p>

{% if article.url %}
<p><a href="{{article.url}}">{{article.url}}</a></p>
{% endif %}

{% if article.body %}
{% if article.url %}<h3>Normals kommentar</h3>{% endif %}
<p class="body">{{ article.body|safe }}</p>
{% endif %}

{% endblock %}
