{% extends "base.html" %}

{# @todo redirect to url if no body? q: but what if url is dead? #}
{# @todo dont put styles in extrastyle. and wrap in div#app-news-detail #}
{# @todo s/Nyhetskommentar/Nyhetssak/g? if allowing empty url #}

{% block extratitle %} » Nyhetskommentar{% endblock %}

{% block extrastyle %}
<style>
p.date {
  color: #555;
}
p.abstract {
  font-weight: bolder;
}
</style>
{% endblock %}


{% block content %}

  <h1>Nyhetskommentar</h1>

  <h2>{{ item.title }}</h2>
  <p class="date">Publisert: {{ item.date }}</p>
  <p class="abstract">{{ item.summary }}</p>

  {% if item.url %}
  {% comment %}
  <p><em>Kilde: <a href="{{item.url}}">{{item.url}}</a></em></p>
  {% endcomment %}
  <p><a href="{{item.url}}">{{item.url}}</a></em></p>
  {% endif %}

  {% if item.body %}
  {# @todo if body&url => prefix with Normals kommentar? #}
  <p class="body">{{ item.body|safe }}</p>
  {% endif %}

{% endblock %}
