{% extends "base.html" %}

{# NOT IN USE #}

{% block content %}

<h1>Nyhetsarkiv</h1>

<pre>Template: list.html</pre>

<div class="search">
  <form method="get">
    <!--
    {% csrf_token %}
    -->
    {{form.query.label}} : {{form.query}}
    <!-- @todo vis alle / clear search -->
</form>
</div>

<p>Viser {{low}}-{{high}} av {{list.paginator.count}} artikler.</p>

{% for news in list %}
  {% if news.body %}
    <h3><a href="{{news.get_absolute_url}}">{{news.title}}</a></h3>
  {% else %}
    <h3><a href="{{news.url}}">{{news.title}}</a></h3>
  {% endif %}
  <div class="date">{{news.date}}</div>
  <div class="abstract">{{news.summary}}</div>
{% endfor %}

<!-- Paginator
@todo put in include. and put on top & bottom
@todo first & last?
-->
{% if list.has_other_pages %}
<br>
<div class="pagination">
  {% if list.has_previous %}
  <a href="?page={{list.previous_page_number}}">&lt;&lt; Forrige</a>
  &nbsp;
  {% endif %}

  <span class="current">
    Side {{ list.number }} av {{ list.paginator.num_pages }}
  </span>

  {% if list.has_next %}
  &nbsp;
  {% if query %}
  <a href="?query={{query|urlencode}}&page={{list.next_page_number}}">Neste &gt;&gt;</a>
  {% else %}
  <a href="?page={{list.next_page_number}}">Neste &gt;&gt;</a>
  {% endif %}
  {% endif %}
</div>
{% endif %}

{% endblock %}
