{% extends "base.html" %}

{% load cms %}

{% block extratitle %} » Bli medlem{% endblock %}

{% block extrahead %}
{# {{ form.media }} #}
<style>
form textarea {
  vertical-align: text-top;
}
form label {
  display: inline-block;
  min-width: 140px;
}
{# @todo move bellow to base.less? #}
form ul.form > li {
  margin: 10px 0;
}
form ul.form > li > ul:not(.errorlist) {
  margin-top: 6px;
}
form label.required:after {
  content: " *";
  font-size: small;
}
{% comment %}
// don't work with form.as_li (type medlemskap => star is wrongly placed)
form li.required:after {
  content: " *";
  font-size: small;
}
{% endcomment %}
</style>
{% endblock %}


{% block content %}

{% cms_content "innmelding-top" %}

{% if form.errors %}
<p class="error">Vennligst rett feilen(e) under!</p>
{% endif %}

<form method="post">{% csrf_token %}
  <ul class="form">{{ form.as_ul }}</ul>
  <input type="submit" value="Bli medlem" />
</form>

<br> {% cms_content "innmelding-bunn" %}

{% endblock %}
