{% extends "base.html" %}

{% block extratitle %} » Bli medlem{% endblock %}

{% block extrahead %}
{{ form.media }}
<style>
textarea#id_comment {
  vertical-align:text-top;
}
form .helptext {
  margin-left: 150px;
  font-size: smaller;
}
form ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
form label {
  display: inline-block;
  min-width: 140px;
}
form p.required:after {
  content: " *";
  font-size: small;
}
</style>
{% endblock %}


{% block content %}

{{ innmelding_top|safe }}

{% if form.errors %}
<p class="error">Vennligst rett feilen(e) under!</p>
{% endif %}

<form method="post">{% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Bli medlem" />
</form>

<br>
{{ innmelding_bunn|safe }}

{% endblock %}
