{% extends "base.html" %}

{% block extratitle %} : støtt oss{% endblock %}


{% block extrahead %}
{{ form.media }}
<style>
  form label {
    display: inline-block;
    min-width: 140px;
  }
  form p.required:after {
    content: ' *';
    font-size: small;
  }
</style>
{% endblock %}


{% block content %}
<!--
<div id="xheader">
  <h1 class="title">Bli medlem</h1>
</div>
-->
<h2>Bli medlem</h2>

<p>Medlemskap koster kr 100,-</p>

{% if form.errors %}
<p class='error'>Vennligst rett feilen(e) under!</p>
{% endif %}

<form method='post'>{% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Send" />
</form>

<br><br><br>


<!--
<div id="xheader">
  <h1 class="title">Donér</h1>
</div>
-->

<h2>Donér</h2>
@todo gofundme, paypal, konto, etc


<h2>Støtt</h2>

@todo bla, bla, bla, hva kan du gjøre


<h2>Vi trenger</h2>

<ul>
  <li>penger</li>
  <li>mektigere venner</li>
  <li>modige og trygge politikere</li>
</ul>

{% endblock %}
