{% extends "base.html" %}

{% block extratitle %} : støtt oss{% endblock %}

{% block extrahead %}
{{ form.media }}
<style>
  form label {
    display: inline-block;
    min-width: 140px;
  }
  form p.required:after {
    content: ' *';
    font-size: small;
  }
</style>
{% endblock %}


{% block content %}

{{ top|safe|linebreaks }}

{% if form.errors %}
<p class='error'>Vennligst rett feilen(e) under!</p>
{% endif %}

<form method='post'>{% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Send" />
</form>

<br>
{{ bottom|safe|linebreaks }}

{% endblock %}
