{% extends "base.html" %}

{% block extratitle %} » Opprop{% endblock %}

{% block extrahead %} {{ form.media }} {% endblock %}

{% block extrastyle %}<style>
h2 {
  margin: 1.5em 0 .5em 0;
}
form {
  margin-top: 1.5em;
}
table thead {
  border-bottom: 1px solid black;
  text-align: left;
}
table td {
  padding-right: 3em;
}
table td.number {
  text-align: right;
}
</style>
{% endblock %}


{% block top %}
<h1>Opprop!</h1>
{% endblock %}


{% block content %}

{% get_content "opprop-top" %}

<form method='post'>{% csrf_token %}

  {% if form.errors %}
  <p class='error'>Vennligst rett feilen(e) under!</p>
  {% endif %}

  {% if form.name.errors or form.city.errors %}
  <ul class="errorlist"><li>Du må oppgi fullt navn, samt by/bosted.</li></ul>
  {% endif %}

  <p class="{{form.required_css_class}}">
    {{ form.name.label_tag }} {{ form.name }} &nbsp; &nbsp;
    {{ form.city.label_tag }} {{ form.city }}
  </p>

  <!--
  <p class="required {% if form.choice.errors %}{{ form.error_css_class }}{% endif %}">
  Note: Can not do this bellow, since two fields inside same p-element
  {{ form.choice.errors }}
  -->
  {% if form.choice.errors %}
  <ul class="errorlist"><li>Velg hvilken modell du ønsker under.</li></ul>
  {% endif %}

  <p class="{{form.required_css_class}}">Modell. Jeg ønsker å:</p>
  {{ form.choice }}

  <p>{{ form.public }} {{ form.public.label_tag }}</p>

  <input type="submit" value="Signer oppropet" />
</form>


{% if not objects %}
<h2>Underskrifter</h2>
<p><em>Ingen underskrifter ennå.</em></p>
{% else %}


<h2>Statistikk</h2>

<p><em>Opprop startet {{ stats.started }}.</em></p>

<table>
  <tr>
    <td>Antall underskrifter</td>
    <td class="number">{{ count }}</td>
  </tr>

  <tr>
    <td>Underskrifter per uke</td>
    <td class="number">{{ stats.week }}</td>
  </tr>

  <tr>
    <td>Underskrifter siste uke</td>
    <td class="number">{{ stats.last_week }}</td>
  </tr>
</table>


<table style="margin-top: 1em">
  <thead> <tr><th>Prosent</th> <th>Modell</th></tr> </thead>
  {% for item in stats.model %}
  <tr>
    <td class="number">{{ item.percent }}&#8239;%</td>
    <td>{{ item.model }}</td>
  </tr>
  {% endfor %}
</table>


<table style="margin-top: 1.2em">
  <thead> <tr><th>By/sted</th> <th>Antall</th></tr> </thead>
  {% for item in stats.city %}
  <tr>
    <td>{{ item.city }}</td>
    <td class="number" style="padding:0">{{ item.id__count }}</td>
  </tr>
  {% endfor %}
</table>


<p class="gray"><small>Merk: Statistikken oppdateres én gang
i timen.</small></p>



<h2>Underskrifter</h2>

<!--
<p>Viser siste 50 av {{ count }} underskrifter:</p>
@todo min() template tag
@todo handle non-public signers
-->
<p>Viser siste {% if count > 50 %} 50 {% else %} {{count}} {% endif %}
av {{ count }} underskrifter:</p>

<table>
  <thead>
    <tr>
      <th>Dato</th>
      <th>Navn</th>
      <th>By/sted</th>
      <th>Modell</th>
    </tr>
  </thead>
  {% for item in objects %}
  <tr>
    <td>{{ item.date|date:"c" }}</td>
    <td>{{ item.name }}</td>
    <td>{{ item.city }}</td>
    <td>{{ item.choice }}</td>
  </tr>
  {% endfor %}
</table>

{% endif %}

{% endblock %}
