{% extends "base.html" %}
{% load static from staticfiles %}

{% block extratitle %} » {{ page.title }}{% endblock %}

{% block content %}

{% if perms.cms.change_page %}
<div id="admin-buttons">
  <a href="{% url "page-update" pk=page.pk %}"> </a>
  <a href="{% url "admin:cms_page_change" page.pk %}"> </a>
</div>
{% endif %}

<article itemscope itemtype="http://schema.org/Article">

  {# Note: all these fields are required for schema.org/Article #}
  <meta itemprop="datePublished" content="{{page.created.isoformat}}" />
  <meta itemprop="description" content="{{ page.summary|escape }}" />
  <meta itemprop="image" content="http://normal.no{% if page.image %}{{page.image.url}}{% else %}{{STATIC_URL}}images/avatar.png{% endif %}" />
  {# @todo: keywords, text (wrap all textual content), description:default?  #}

  <h1 itemprop="name headline">{{ page.title|escape }}</h1>

  {% if page.image_show and page.image %}
  <img class="sos-media" src="{{ page.image.url }}" width="{{page.image_width|default:300}}" alt="Main image" />
  {% endif %}

  <div itemprop="articleBody">{{ page.content }}</div>

  <time itemprop="dateModified" datetime="{{page.modified.isoformat}}">
    Oppdatert: {{ page.modified }}</time>

  <div class="icon-top"><a href="#til-toppen"></a></div>

</article>
{% endblock %}
